.contacts {
    position: relative;
    padding: 20px 40px;
    min-height: 481px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts__title {
    color: #b1b1b1;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.contacts__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: auto;
}


.pagination__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__empty {
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
    color: #eee;
}

.btn {
    background: rgb(58, 58, 58);
    color: rgb(209, 209, 209);
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgb(114, 114, 114);
    transition: 0.2s ease;
}
.btn:hover {
    border-color: rgb(51, 163, 51);
}
.btn:active {
    box-shadow: 0 0 10px rgb(51, 163, 51);
    border-color: rgb(51, 163, 51);
}

.input {
    width: 100%;
    padding: 5px 10px;
    background: rgb(51, 51, 51);
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.2s ease;
}
.input:focus {
    border-color: rgb(36, 107, 184);
}
.input:valid {
    border-color: rgb(54, 187, 47);
}
.input::-webkit-inner-spin-button {
    appearance: none;
}
