
.sidebar__options {
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #3f3f3f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.sidebar__col {
    display: flex;
    flex-direction: column;
    color: #b1b1b1;
}
.sidebar__link {
    margin-bottom: 25px;
}
.sidebar__option {
    border: 1px solid rgb(128, 128, 128);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    background: #464646;
    transition: border 0.2s ease;
    box-shadow: -4px -4px 10px #80808050,
                4px 4px 10px #00000050;
}
.sidebar__option:hover {
    box-shadow: -4px -4px 10px #80808050,
                4px 4px 10px #00000050,
                inset 4px 4px 10px rgba(97, 97, 97, 0.878),
                inset -4px -4px 10px rgb(38, 38, 38);
}
.sidebar__option:active {
    box-shadow: inset -4px -4px 10px #80808050,
        inset 4px 4px 10px #00000050;
}
.sidebar__option.active {
    border: 1px solid rgb(54, 150, 70);
    box-shadow: inset -4px -4px 10px #80808050,
    inset 4px 4px 10px #00000050;
}
.sidebar__link:last-child {
    margin-bottom: 0;
}
.option__icon {
    margin-bottom: 5px;
}
.option__icon svg {
    color: #b1b1b1 !important;
}

.option__subtitle {
    font-size: 16px;
}
